.stories {

  .intro-mobile {
    display: none;
  }

  .opening {
    @include retina-image('/assets/images/static/flood', 1024px 683px, jpg);

    div {
      float: left;
      margin-left: 0;
    }
  }
}